{% extends 'default/layout.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block header %}
	<h1>{{ 'un titre magnifique'|title }}</h1>

{% endblock %}

{% block content %}
	<table>
		<th>Id</th>
		<th>Email</th>
		<th>Subject</th>
		<th>Message</th>

		{% for contact in contacts %}
			<tr>
				<td>
					{{ contact.id }}
				</td>
				<td>
					{{ contact.email }}
				</td>
				<td>
					{{ contact.subject }}
				</td>
				<td>
					{{ contact.message }}
				</td>

			</tr>
		{% endfor %}
	</table>

{% endblock %}
